.login {
    height: 100vh;
}

.login_content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_banner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.login_banner img {
    height: 500px;
    width: 500px;
}
